*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calc-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(230, 145, 145);
  outline: none;
  
}

.calc-grid>button:hover {
  background-color: rgba(201, 191, 191, 0.92);
}

.span-two {
  grid-column: span 2;

}

.screen {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  flex-direction: column;
  color: white;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;

}

.output .current-operand {
  color: white;
  font-size: 2rem;
}

.temp-result {
  text-align: left;
  width: 100%;
}

.operation {
  background-color: rgba(219, 214, 214, 0.75);
  
}

.number{
  background-color: #00FF6C;
}

.equal, .del,.clear-all {
  background-color: rgba(219, 214, 214, 0.75);
}